body{
  /*overflow: hidden;*/
  border: 0px;/*
  padding: 1px;
  margin: 0px;*/
}

.menu{
  background-color: white;
  position:fixed;
  top: 0px;
  right: 0px;
  width: 30%
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0px;
  color: white;
  font-family: "Arial", Times, serif;
  font-size: .6em;
}

.select-css {
  top: 0px;
  left: 0px;
    display:inline-block;
    font-size: .9em;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
}

#mainWindow{
  background-color: red;
  margin: 0;
  /*position:fixed;
  top: 0px;
  left: -5000px;
  width: 100%
  margin: 0;
  padding: 0;*/
}

.slider {
  position : relative;
  margin: auto;
  width: 98%;
}

.partData{
  background-color: gray;
  overflow-y: auto;
  position:fixed;
  border-style: 150px;
  border-color: red;
  top: 0px;
  left: 0px;
  width: 18%;
  height: 100%;
  padding: 10px;
  color: white;
  font-family: "Arial", Times, serif;
}

