body{
  overflow: hidden;
}

.select-css {
  top: 0px;
  left: 0px;
    display:inline-block;
    font-size:1.5vw;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1;
    /*padding: .6em 1.4em .5em .8em;*/
    width: 35%;
    /*max-width: 100%; */
    /*box-sizing: border-box;*/
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .25em;
}

#instructionWindow{
  display: block;
  position:fixed;
  background-color: white;
  overflow-y: auto;
  position:fixed;
  border-right: 1px solid black;
  top: 0px;
  left: 0px;
  width: 40%;
  height: 99%;
  padding: 10px;
  color: black;
  font-family: "Arial", Times, serif;
  font-size:1.5vw;
}

#illustrationWindow{
  display: block;
  background-color: white;
  overflow-y: auto;
  position:fixed;
  top: 0px;
  left: 42%;
  height: 99%;
  padding: 10px;
  color: black;
  font-family: "Arial", Times, serif;
  font-size:1.5vw;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}


ul {
  list-style-type: circle;
  margin: 0;
  padding: 5%;
  font-size:1.5vw;
}

.responsive {
  width: 100%;
  height: auto;
}
