<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href="../css/main.css" >
  </head>
  <body>
    <div class="main-content">
      <h1>GEA Training Site</h1>
  <a href="/">Interactive Schematics</a>
    <a href="/iad">Training Modules</a>
    <br>
        <div class="autocomplete">
        <input id="modelInput" type="text" name="modelSearch" placeholder="Select Pub #">
        </div>
      <input id="mySubmit" type="submit" onclick="pubSubmit(modelInput.value)">
    </div>
    <script src="../../js/search.js"></script>
  </body>
</html>